*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}


body{
    font-size: 16px;
    background: #eee !important;
}


h1{
    text-align: left;
    height: 78px;
}

main{
    margin-bottom: 50px;
}

/*navbar*/
nav{
    background-color: #333;
    margin-bottom: 25px;
}

.index ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
  
  
.index li{
    float: left;
    
}

.index .right{
    float: right;
}
  
.index li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.index li a:hover:not(.active){
    background-color: #111;
    color: white;
}


  
.active {
    background-color: #4CAF50;
    color: white;
}

/*navbar*/




.card-body a{
    text-decoration: none;
}


main img{
    width: 500px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.clear{
    overflow: auto;
    padding: 5px;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkcyan;
    color: white;
    text-align: center;
}
footer p{
    text-align: center;
}

main table{
    background-color: white;
    border: 1px solid red;
}

@media screen and (max-width: 600px) {
    
    ul li {float: none;}
    ul li.right{float: none;}
    nav{
        background-color: #333;
        
        position:static;
        
    }
}

/*login*/

.kapla {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-login {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;  
}


.form-login-heading{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*login*/

/*iletisim*/

.form-alanı{
    background-color: blue;
    padding-left: 15px;
}
.tab{
    width: 60%;
    margin: 0 auto;
}
.tab-header{
    text-align: center;
}
.form-group{
    margin-bottom: 5px;
}

main .iletisim-container{
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: burlywood;
    padding: 15px;
}

@media screen and (max-width: 600px){

    main .iletisim-container{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
}

/*ilgi alanlarım*/

.quote-box {
    border: 2px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 20px;
  }
  #quote {
    color: #444;
    text-align: center;
  }
  #author {
    float: right;
    color: #888;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
  }
  
  #btn {
    align-self: center;
    border: 2px solid #666;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    cursor: pointer;
  }
  
  #btn:focus {
    outline: none;
  }
